.header{
    background-color: rgb(102, 227, 102);
    position: sticky;
    top:0;
}

.create-task_btn{
    padding: 15px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
.head-row{
    display: flex;
    justify-content: space-between;
}
.head-links{
    align-items: center;
    display: flex;
    gap: 20px;
}
